.footer{
  min-width: 30vw;
  height: 100px;
  background: rgba(78, 78, 78, 0.9);
  color: #f2f2f2;
  padding: 1rem;
  font-weight: bold;
  border-radius: 30px;
  position: fixed;
  left: 20px;
  bottom: 20px;
}